RewriteEngine On

# если файл или папка существуют — отдаём напрямую
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# всё остальное — в index.php
RewriteRule ^ index.php [L]
